html, body {
    font-size: 32px;
    height: 100%;
    font-family: 'Jomhuria', sans-serif;
    font-size: 64px;
    line-height: .75;
    background-color: #C6D4EC;
}

.container {
    width: 100%;
    flex-wrap: wrap;
}

img.logo {
    cursor: pointer;
    transition: all .5s;
    width: 145px;
    height: 155px;
}

img.logo.disabled {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
            filter: grayscale(100%);
}

img.logo.disabled:hover {
    -webkit-filter: none; /* Chrome, Safari, Opera */
            filter: none;
}

img.logo.selected {
    box-shadow: 0 0 0 5px white, 0 0 0 10px black;
    border-radius: 10px;
}

.info {
    text-align: right;
    display: flex;
    flex-direction: column;

    margin: 25px;
}

.flex-grid {
    display: flex;
    align-items: center;
}

.col {
    flex: 1;
}

.col2 {
    flex: 2;
}

.glyph {
    flex: 1;
}


.action-button {
    text-align: center;
    background-color: #0624C0;
    color: white;

    margin: 0 25%;
    padding-top: 2%;

    border: 2px solid #0624C0;
    border-radius: 15px;

    transition: all .5s;

    cursor: pointer;
}

.action-button.selected,
.action-button:hover {
    background-color: white;
    border: 2px solid #0624C0;
    color: #0624C0;
}

#merge-msg {
	font-size: 32px;
	margin-top: 12px;
	text-align: center;
}

.hidden {
	display: none;
}

.safe {
	float: left;
	text-align: left;
	font-size: 40px;
	color: #FF1E00;
}

#modal {
  background: white;

  position: fixed;
  width: 600px;
  max-width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.75);

  padding: 35px;
  text-align: center;

  /* Hidden */
  opacity: 0;
  pointer-events: none;

  transition: transform 0.4s ease, opacity 0.4s ease;

}

.dialogIsOpen #modal {
  
  /* Regular size and visible */
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  /* Clickable */
  pointer-events: auto;

  border: 1px solid black;
  border-radius: 10px;
}

.dialogIsOpen .container {
	-webkit-filter: grayscale(50%);
	filter: grayscale(50%);
}

#modal-close {
	margin-top: 15px;
}